@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Kaushan+Script&display=swap');
.App {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

/* Login Page */
.loginBackground {
  background: url("../src/Pictures/layered-steps-haikei (2).svg") no-repeat;
  /* position: relative; */
  font-size:x-large;
  width: 100%;
  height: 100vh;
  color: #FFC300;
  /* display: grid; */
}